<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="LibraryBooksNewVMVConnectionString" connectionString="Data Source=ACERV15\SERVER;Initial Catalog=LibraryBooksNewVMV;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="LibraryBooks" connectionString="Data Source=ACERV15\SERVER;Initial Catalog=LibraryBooksNewVMV;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=ACERV15\SERVER;initial catalog=LibraryBooks_;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<configuration>
		<connectionStrings>
			<add name="LibraryBooksConnectionString"
			     connectionString="Data Source=ACERV15\SERVER;Initial Catalog=LibraryBooksDbContext;Integrated Security=true"
			     providerName="System.Data.SqlClient"/>
			<add name="LibraryBooksTest"
			     connectionString="Data Source=ACERV15\SERVER;Initial Catalog=LibraryBooksTest;Integrated Security=true"
			     providerName="System.Data.SqlClient"/>
		</connectionStrings>
	</configuration>-->
</configuration>