
Use LibraryBooks

SELECT *
FROM Books
--FROM Author -- 
--FROM Category

/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
--SELECT TOP 1000 [book_id]
--      ,[name]
--      ,[year]
--      ,[description]
--      ,[id_author]
--      ,[id_subject]
--      ,[image]
--      ,[tags]
--  FROM [LibraryBooks].[dbo].[Books]

--Delete Books Where Book_Id = 3
--Update Books Set image = null